.timer {
  width: 270px;
  height: 160px;
  border: 8px solid #13353a;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.content h1 {
  font-size: 70px;
}

.less {
  color: #8b0000;
}
